!!!
%head
	%script{:type => "text/javascript", :src => "/js/spine.js"}
	%script{:type => "text/javascript", :src => "/js/mc.js"}
	%script{:type => "text/javascript", :src => "/js/app.js"}
%body
	%h1 Test