!!!
%head
	%script{:type => "text/javascript", :src => "/js/jquery-1.6.2.min.js"}
	%script{:type => "text/javascript", :src => "/js/traits.js"}
	%script{:type => "text/javascript", :src => "/js/uuid.js"}
	%script{:type => "text/javascript", :src => "/js/mc.js"}
	%script{:type => "text/javascript", :src => "/js/app.js"}
%body
	%h1#target Test
	%table#my-table
		%tr
			%th one
			%th two
			%th three
		%tr
			%td 1
			%td 2
			%td 3
		%tr
			%td 4
			%td 5
			%td 6
			